<% @header="Manage Existing Context" %>

<%= error_messages_for :om_context %>

<% form_for(@om_context) do |f| %>
  <p>
    <b>Context Address</b><br />
    <%= f.text_field :omrl %>
  </p>

  <p>
    <b>Access Credential</b><br />
    ID: <%= text_field_tag :tag,params[:tag] || 'steward' %>
    Password: <%= password_field_tag :password %>
  </p>

  <p>
    <%= f.submit "Manage" %>
  </p>
<% end %>

<%= link_to 'Back', om_contexts_path %>
