<p>
  <b>Name:</b>
  <%=h @node.name %>
</p>

<p>
  <b>Body:</b>
  <%=h @node.body %>
</p>

<p>
  <b>Account omrl:</b>
  <%=h @node.account_omrl %>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
