<% @header="Currencies" %>

<table>

<% for om_currency in @om_currencies %>
  <tr>
    <td><%=h om_currency.omrl %></td>
    <td><%= link_to 'Details', om_currency %></td>
    <td><%= link_to 'Edit Access', edit_om_currency_path(om_currency) %></td>
    <td><%= link_to 'Delete Access', om_currency, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Access Existing Currency', new_om_currency_path %> <br />
<%= link_to 'Create New Currency', make_new_om_currency_path %>