<% @header="Access Currency" %>

<%= error_messages_for :om_currency %>

<% form_for(@om_currency) do |f| %>
  <p>
    <b>Currency Address</b><br />
    <%= f.text_field :omrl %>
  </p>

  <p>
    <b>Access Credential</b><br />
    Password: <%= password_field_tag :password %>
  </p>

  <p>
    <%= f.submit "Access" %>
  </p>
<% end %>

<%= link_to 'Back', om_currencies_path %>
