<% @header = "#{h @om_currency.omrl}" %>

<div id="history">
	<h3><%=l 'Summary' %></h3>
	<%=
	  c = nil
      begin
        c = Currency.find_by_omrl(@om_currency.omrl, :params => { :extra => 'summary' })
		attrs = []
		c.attributes.collect {|k,v| next if k == 'updated_at'; attrs << (k.titleize << ': ' << v.to_s)}
		attrs.join(', ')
      rescue ActiveResource::ResourceNotFound
		'-- not available -- '
      end
 	%>

	<h3><%=l 'History' %></h3>
	<% (@flows,@fields) = history(nil,@om_currency.omrl,YAML.load(Currency.find_by_omrl(@om_currency.omrl).specification),:language => current_user.pref_language) %>

	<% if @flows %>
	  <table id ="history_table">
		<tr>
			<th> <%=l :Date %> </th>
			<th> <%=l :Declarer %>  </th>
			<th> <%=l :Accepter %>  </th>
		<%for f in @fields.keys %>
		<th> <%= h @fields[f] %> </th>
		<% end %>
		</tr>

		<% for flow in @flows %>
		<tr>
			<td><%= h flow.created_at.localtime.strftime("%m/%d/%Y %I:%M")%> </td>
			<td><%= h flow.specification_attribute('declaring_account')%> </td>
			<td><%= h flow.specification_attribute('accepting_account') %> </td>
			<%for f in @fields.keys %>
			<td> <%= h flow.specification_attribute(f)  %> </td>
			<% end %>
		<tr>
		<% end %>
	  </table>
	<% else %>
		No History
	<% end %>
</div>
