<% @header = "#{h @om_currency.omrl}" %>

<div id="history">
	<h3><%=l 'Summaries' %></h3>
	<% if @summaries.nil? %>
		-- not available -- 
	<% else %>
	<table>
		<% @summaries.each do |entity_type,sms| %>
			<% if sms%>
			<tr><td colspan=2><b><%= {'account' => 'Accounts','context'=>'Namespaces','currency'=>'Currency'}[entity_type] %></b></td></td>
		  <% sms.each do |omrl,s| %>
		   
				<tr>
			<td><%= omrl %>:</td>
			<td><%= render_summary(@summary_form,s,:language => current_user.pref_language) %></td>
			</tr>
		   <% end %>
			<%end%>
		<%end %>	
	</table>
    <%end%>

	<h3><%=l 'History' %></h3>
	<% (@flows,@fields) = history(nil,@om_currency.omrl,YAML.load(Currency.find_by_omrl(@om_currency.omrl).specification),:language => current_user.pref_language) %>

	<% if @flows %>
	  <table id ="history_table">
		<tr>
			<th> <%=l :Date %> </th>
			<th> <%=l :Declarer %>  </th>
			<th> <%=l :Accepter %>  </th>
		<%for f in @fields.keys %>
		<th> <%= h @fields[f] %> </th>
		<% end %>
		</tr>

		<% for flow in @flows %>
		<tr>
			<td><%= h flow.created_at.localtime.strftime("%m/%d/%Y %I:%M")%> </td>
			<td><%= h flow.specification_attribute('declaring_account')%> </td>
			<td><%= h flow.specification_attribute('accepting_account') %> </td>
			<%for f in @fields.keys %>
			<td> <%= h flow.specification_attribute(f)  %> </td>
			<% end %>
		<tr>
		<% end %>
	  </table>
	<% else %>
		No History
	<% end %>
</div>
