
<% form_tag('/plays',:method => :get,:id=>'search_form') do -%>
<%= hidden_field_tag 'search[type]',@search_params[:type] %>
<div id="tabs">  
<ul>
<li <%= (@search_params[:type]=='my_proposed') ? 'id="current"' : '' %>><%= link_to_function '<span>my proposed</span>', %Q|$('search_project').value=0;$("search[type]").value = "my_proposed";$("search[on]").value = "u_is";$("search[for]").value ="#{current_user.user_name}";$("search_status").value = 'proposed';$('search_form').submit()|%></li>

<li <%= (@search_params[:type]=='my_acknowledged') ? 'id="current"' : '' %>><%= link_to_function '<span>my acknowledged</span>', %Q|$('search_project').value=0;$("search[type]").value = "my_acknowledged";$("search[on]").value = "u_is";$("search[for]").value ="#{current_user.user_name}";$("search_status").value = 'acknowledged';$('search_form').submit()|%></li>

<li <%= (@search_params[:type]=='custom') ? 'id="current"' : '' %>><%= link_to_function '<span>custom</span>', %Q|;$("search[type]").value = "custom";$("search_fieldset").show()|%></li>
</ul>
</div>
<hr style="clear: both"/>
<div id='search_options'>
<fieldset id='search_fieldset' <% if @search_params[:type]!='custom' %>style="display:none"<%end%>>
<legend>Custom Contributions Search</legend>

	<%= select_tag('search[on]', options_for_select([
		['--Any--',''],
		['Contributor name contains','p_c'],
		['Contributor begins with','p_b'],
		['Contributor user_name is','u_is'],
		['Description contains','d_c'],
		['Currency name contains','c_c']
	],@search_params[:on]))%>
<%= text_field_tag('search[for]', @search_params[:for]) %>

<p>
Status: <select name="search[on_s_is_n]" id="search_status">
	<option value=''>--Any--</option>
	  <%= options_for_select(Play::Statuses,@search_params[:on_s_is_n]) %>
	</select>

Project: <select name="search[project_id]" id="search_project">
	<option value=0>--Any--</option>
	  <%= options_for_select(nested_set_options_for_select(Node,{}),@search_params[:project_id].to_i) %>
	</select>
Order by: <%= select_tag('search[order]', options_for_select([
	['Name','n'],
	['Status','s'],
	['Date','d'],
	],@search_params[:order]))%>
	<%= submit_tag 'Search'%>
</p>
</fieldset>
<%end%>

<table id="plays">
  <tr>
    <th>Project</th>
    <th>Contributor</th>
    <th>Status</th>
    <th>Value</th>
    <th>Currency</th>
    <th>Date</th>
  </tr>

<% for play in @plays %>
  <tr class="play">
    <td><%=h play.project_name %></td>
    <td><%=h play.player_name %></td>
    <td><%=h play.status %></td>
    <td><%=h play.value %></td>
    <td><%=h play.currency_omrl %></td>
    <td><%= standard_date play.start_date %></td>
    <td><%= icon_link :pencil, edit_play_path(play), :title => 'Edit' %></td>
    <td><%= icon_link :minus, play, :title => 'Delete',:confirm => 'Are you sure?', :method => :delete %></td>
    <%if play.status != 'acknowledged'%><td><%= icon_link :check, approve_play_path(play), :title => 'Approve',:confirm => "Are you sure you want to approve this contribution and acknowledge #{play.value} to #{play.account_omrl}?", :method => :put %></td><%end%>
  </tr>
 <tr><td colspan=6 class="play_description"><%=h play.description %></td></tr>
<% end %>
</table>

<br />

<%= link_to 'New Contribution', new_play_path %>
