<% 
	if current_user == @user
		@header = "My Profile"
	else
		@header="Edit User: " << @user.user_name
	end
%>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>

  <% if current_user.can? :manage_users%>
  <p>
  <b>Role</b><br />
  <%= f.collection_select(:role_id, Role.find(:all), :id, :name) %>
  </p>
  <% end%>

  <p>
    <b>First name</b><br />
    <%= f.text_field :first_name %>
  </p>

  <p>
    <b>Last name</b><br />
    <%= f.text_field :last_name %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :email %>
  </p>

<table cellpadding="0" cellspacing="0" border=0><tr><td>
<fieldset>
<legend>Preferences</legend>
	<p>
	  <b>Language</b>
	  <%= f.select(:pref_language,[['English','en'],['Spanish','es'],['French','fr']]) %>
	</p>
	<p>
	  <b>Transactions per page</b>
	  <%= f.text_field(:pref_items_per_page,"size" => 3) %>
	</p>
	<% if @user.om_accounts.size > 1%>
	<p>
	  <b>Default Account</b>
	  <%= f.collection_select(:pref_default_account, @user.om_accounts, :omrl, :omrl) %>
	  with currency <%= f.text_field(:pref_default_currency) %>
	</p>
	<% else %>
	<p>
	  <b>Default Currency</b> <%= f.text_field(:pref_default_currency) %>
	</p>
	<% end %>

</fieldset>
</table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Change Password', password_user_path %>
