<% @header="User:" << @user.username%>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<% if current_user.can? :manage_users%>
<p>
  <b>Role:</b>
  <%=h @user.role.name %>
</p>
<% end %>

<p>
  <b>Last login:</b>
  <%=h @user.last_login %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
