<% @header="Edit Account" %>

<%= error_messages_for :om_account %>

<% form_for(@om_account) do |f| %>
  <p>
    <b>Currency Address</b><br />
    <%= f.text_field :omrl %>
  </p>

  <p>
    <b>Password</b><br />
    <%= f.text_field :password %>
  </p>

  <% if @om_account.currencies_list.size > 1%>
  	<b>Default Currency</b><br />
	<%= f.select(:default_currency, @om_account.currencies_list) %>
  <%end%>

  <p>
	<%= check_box_tag(:clear_currencies_cache)%> <b>Clear currencies cache</b> <br />
    <b>Currencies cache</b><br />
    <%= f.text_area :currencies_cache %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @om_account %> |
<%= link_to 'Back', om_accounts_path %>
