<% @header="Accounts" %>

<table>

<% for om_account in @om_accounts 
	@omrl = h(om_account.omrl)
%>
  <tr>
    <td><%=link_to @omrl,acknowledge_flows_url(@omrl) %> <br />
	 <% currencies = om_account.currencies_list; if !currencies.empty? %>
		Currencies: <%= h(currencies.join(', ')) %>
	 <%end%>
	</td>
    <td>
	<%= icon_link :pencil, edit_om_account_path(om_account), :title => 'Edit access parameters for '<< @omrl %>
	<%= icon_link :minus, om_account, :title => "Remove #{@omrl} from accounts list", :confirm => 'Are you sure?', :method => :delete %>
	<br />
		<%= link_to 'Join Currency', join_om_account_path(om_account) %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Access existing account', new_om_account_path %> <br />
<%= link_to 'Create new account', make_new_om_account_path %>