<% @header="Create Account" %>

<%= error_messages_for :event %>
<%= error_messages_for :om_account %>

<% form_tag do_make_new_om_account_path do -%>

  <%= make_entity_base_fields('Account','name.namespace.x',current_user.user_name) %>

  <p>
    <%= submit_tag "Create Account" %>
  </p>
<% end -%>

<%= link_to 'Back', om_accounts_path %>
