<% @header="Add Account" %>

<%= error_messages_for :om_account %>

<% form_for(@om_account) do |f| %>
  <p>
    <b>Account Address</b><br />
    <%= f.text_field :omrl %>
  </p>

  <p>
    <b>Account Access Password</b><br />
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', om_accounts_path %>
