<h1>New om_account</h1>

<%= error_messages_for :om_account %>

<% form_for(@om_account) do |f| %>
  <p>
    <b>Omrl</b><br />
    <%= f.text_field :omrl %>
  </p>

  <p>
    <b>Password</b><br />
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', om_accounts_path %>
